<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.juangoncalves.mentra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MentraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mentra">

        <activity
            android:name=".features.onboarding.OnboardingActivity"
            android:theme="@style/Theme.Mentra.Onboarding" />

        <activity
            android:name=".features.dashboard.DashboardActivity"
            android:theme="@style/Theme.Mentra.LightStatusBarIcons" />

        <activity
            android:name=".features.settings.ui.SettingsActivity"
            android:theme="@style/Theme.Mentra.Settings" />

        <activity
            android:name=".features.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mentra.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.wallet_creation.ui.WalletCreationActivity"
            android:theme="@style/Theme.Mentra.LightStatusBarIcons" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Mentra.Licenses" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Mentra.Licenses" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />
    </application>

</manifest>